.container-users{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 80px;
    margin: 10px;
}

.user-container input {
    width: 50%; 
    padding: 8px;
}
 
.col-id {
    width: 2%;
  }
.col-actions {
    width: 12%;
  }

.pagination-container {
    display: flex;
    justify-content: center; /* Centrar los botones */
    align-items: center;
    margin-top: 10px;
}

.pagination-container p {
    color: white;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Hace que el spinner ocupe toda la altura de la pantalla */
}

.table tbody {
    height: 280px; 
}

.spinner{
    width: 4rem;  /* Aumenta el tamaño del spinner */
    height: 4rem; 
}