/* Cambiar tamaño de las columnas */
.container-users{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    width: 100%;
}

.container input {
    width: 60%; /* Ajusta el tamaño del input */
    padding: 8px;
}
 
.col-id {
    width: 2%;
  }
.col-actions {
    width: 12%;
  }

.pagination-container {
    display: flex;
    justify-content: center; /* Centrar los botones */
    align-items: center;
    margin-top: 10px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Hace que el spinner ocupe toda la altura de la pantalla */
}

.table tbody {
    height: 280px; 
}

.spinner{
    width: 4rem;  /* Aumenta el tamaño del spinner */
    height: 4rem; 
}