/* Cambiar tamaño de las columnas */
.admins-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Espaciado entre elementos */
    margin: 15px;
    
}

.container-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px; /* Añade margen interno para evitar que los elementos estén pegados a los bordes */
}

.container-search input {
    width: 60%; /* Ajusta el tamaño del input */
    padding: 8px;
}
  
.col-id {
    width: 2%;
  }
.col-actions {
    width: 12%;
  }

.pagination-container {
    display: flex;
    justify-content: center; /* Centrar los botones */
    align-items: center;
    margin-top: 20px;
  }

.container-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Hace que el spinner ocupe toda la altura de la pantalla */
}

.spinner{
    width: 4rem;  /* Aumenta el tamaño del spinner */
    height: 4rem; 
}