.admins-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-admins {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 80px;
    margin: 10px;
}

.container-admins input {
    width: 50%; 
    padding: 8px;
}

.tableAdmins tbody {
    height: 280px; 
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; 
}

.pagination-container {
    color: white;
}

.spinner-admins {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.spinner{
    width: 6rem;  
    height: 6rem;
}
