html, body {
    height: 100%; /* Hace que el contenedor de la página ocupe el 100% de la altura de la pantalla */
    margin: 0; /* Elimina el margen predeterminado */
}

.admins-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 15px;
    width: 90%; /* Ajusta el contenedor para que ocupe más espacio */
}

.container-admins {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.container-admins input {
    width: 50%; /* Ajusta el tamaño del input */
    padding: 10px; /* Aumenta el padding */
}

.tableAdmins tbody {
    height: 280px; 
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; /* Agregué padding */
}

.spinner-admins {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.spinner{
    width: 6rem;  /* Aumenté el tamaño del spinner */
    height: 6rem;
}
