/* Cambiar tamaño de las columnas */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 80px;
    margin: 10px;
}

.search-container input {
    width: 60%; /* Ajusta el tamaño del input */
    padding: 8px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Hace que el spinner ocupe toda la altura de la pantalla */
}
.tableMovies {              
    height: 380px;
}

.pagination-container {
    display: flex;
    justify-content: center; /* Centrar los botones */
    align-items: center;
  }

.spinner{
    width: 4rem;  /* Aumenta el tamaño del spinner */
    height: 4rem; 
}